.reg {
  display: flex;
  margin-top: 25vh;
}

.reg__img {
  max-height: 100vh;
  overflow: hidden;
}

.reg__head {
  align-self: center;
  display: flex;
  align-items: center; 
}

img {
  width: 50vw;
  object-fit: cover;
  display: none;
}

.theme {
  margin-left: 16px;
}  

.logo {
  color: var(--primary-color);
}

.reg__content {
  margin: auto;
  width: 512px;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
}

.reg__form {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.form__field + .form__field {
  margin-top: 16px;
}

@media screen and (min-width: 1280px) {
  img {
    display: block;
  }

  .reg {
    margin-top: 0;
  }
}