.reg {
  display: flex;
}

.reg__img {
  max-height: 100vh;
  overflow: hidden;
}

.reg__head {
  align-self: center;
  display: flex;
  align-items: center; 
}

img {
  width: 50vw;
  object-fit: cover;
}

.theme {
  margin-left: 16px;
}  

.logo {
  color: var(--primary-color);
}

.reg__content {
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.reg__form {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.form__field + .form__field {
  margin-top: 16px;
}
