.form__field {
  position: relative;
}

.form__input {
  background: none;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  padding: 10px;
  font-size: 1.1em;
  color: var(--text-color);
  font-family: var(--main-font);
  width: 100%;
}

.form__label {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 1.1em;
  transition: all 150ms ease;
}

.form__input:focus + .form__label, .form__input.filled + .form__label {
  background-color: var(--bg-color);
  font-size: 0.8em;
  top: -9px;
  padding: 0 4px;
}

.form__input:focus {
  outline: 1px solid var(--text-color);
}

.form__btn {
  background: var(--main-gradient);
  color: var(--white);
  margin-top: 8px;
  padding: 8px;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  transition: transform 150ms ease;
}

.form__error {
  color: var(--title-text-color);
  margin-top: 8px;
}

.form__btn:active {
  transform: translateY(4px);
}